body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
}
h1 {
  font-size: 50px;
}

.nomeProjeto {
  grid-column: 2;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  row-gap: 10px;
}

.btnPrimary {
  display: block;;
  margin: 10px 0 0 0;
  background-color: rgb(30,115,190);
  border: none;
  font-size: 14px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.labelInputConteiner {
  margin: auto;
  width: fit-content;
}

.btnPrimary:hover {
  background-color: rgb(18, 73, 121);
}

label {
  font-size: 26px;
}

input[type='text'] {
  font-size: 20px;
}

.errorMsg {
  color: red;
  padding-left: 72px;
}

#todoList-conteiner {
  margin-top: 50px;
}

#todoList-ul {
  padding-left: 16px;
}